.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  list-style-type: none;
  width: 40%;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: left;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.description {
  font-family: 'Roboto';
  color: #64748b;
}
.img-container {
  display: flex;
  justify-content: end;
}
